In [1]:
!pip install -r requirements.txt

In [2]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split


%matplotlib inline

In [3]:
def load_data(csv):
    dataset=pd.read_csv(csv)
    return dataset

**Stampo Le chiavi come lista**

In [4]:
def chiavi(dataset):
    for i in dataset:
        print ("La colonna :",i,"ha le chiavi",dataset[i].unique())

In [5]:
def X_y(dataset,target):
        y= dataset[target]
        X= dataset.drop([target],axis=1)
        return X,y

In [6]:
def split(X,y):
         X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)
         return  X_train, X_test, y_train, y_test

**Visualizzo il numero di chiavi uniche delle colonne**

In [7]:
def visualizza(dataset):
     for i in dataset:
        print("colonna :",i,"conta", dataset[i].nunique(),"valori di chiavi diversi")

In [8]:
def crea_csv(X,y):
    X_train,X_test,y_train,y_test =split(X,y)
    
    
    output_train = pd.DataFrame(pd.concat([X_train,y_train],axis = 1))
    
    
    output_test =  pd.DataFrame(pd.concat([X_test,y_test],axis = 1))
   
    return output_train,output_test

In [9]:
def crea_file(output_train,output_test):
    output_train.to_csv('train.csv', index=False)
    output_test.to_csv('test.csv', index=False)

In [10]:
dataset=load_data('appointment_data.csv')

dataset

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [11]:
#chiavi(dataset)
for i in dataset:
    print("colonna ",i,"ha il seguente n chiavi",dataset[i].nunique())
    
print  ("\n NUMERO NULL")
for i in dataset:
    print("colonna ",i,"ha il seguente n null",dataset[i].isnull().sum())

colonna  No-show ha il seguente n chiavi 2
colonna  PatientId ha il seguente n chiavi 54105
colonna  AppointmentID ha il seguente n chiavi 88421
colonna  Gender ha il seguente n chiavi 2
colonna  ScheduledDay ha il seguente n chiavi 83840
colonna  AppointmentDay ha il seguente n chiavi 27
colonna  Age ha il seguente n chiavi 103
colonna  Neighbourhood ha il seguente n chiavi 81
colonna  Scholarship ha il seguente n chiavi 2
colonna  Hipertension ha il seguente n chiavi 2
colonna  Diabetes ha il seguente n chiavi 2
colonna  Alcoholism ha il seguente n chiavi 2
colonna  Handcap ha il seguente n chiavi 5
colonna  SMS_received ha il seguente n chiavi 2

 NUMERO NULL
colonna  No-show ha il seguente n null 0
colonna  PatientId ha il seguente n null 0
colonna  AppointmentID ha il seguente n null 0
colonna  Gender ha il seguente n null 0
colonna  ScheduledDay ha il seguente n null 0
colonna  AppointmentDay ha il seguente n null 0
colonna  Age ha il seguente n null 0
colonna  Neighbourhood ha il seguente n null 0
colonna  Scholarship ha il seguente n null 0
colonna  Hipertension ha il seguente n null 0
colonna  Diabetes ha il seguente n null 0
colonna  Alcoholism ha il seguente n null 0
colonna  Handcap ha il seguente n null 0
colonna  SMS_received ha il seguente n null 0

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88421 entries, 0 to 88420
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No-show         88421 non-null  object
 1   PatientId       88421 non-null  float64
 2   AppointmentID   88421 non-null  int64
 3   Gender          88421 non-null  object
 4   ScheduledDay    88421 non-null  object
 5   AppointmentDay  88421 non-null  object
 6   Age             88421 non-null  int64
 7   Neighbourhood   88421 non-null  object
 8   Scholarship     88421 non-null  int64
 9   Hipertension    88421 non-null  int64
 10  Diabetes        88421 non-null  int64
 11  Alcoholism      88421 non-null  int64
 12  Handcap         88421 non-null  int64
 13  SMS_received    88421 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 9.4+ MB

In [13]:

visualizza(dataset)

colonna : No-show conta 2 valori di chiavi diversi
colonna : PatientId conta 54105 valori di chiavi diversi
colonna : AppointmentID conta 88421 valori di chiavi diversi
colonna : Gender conta 2 valori di chiavi diversi
colonna : ScheduledDay conta 83840 valori di chiavi diversi
colonna : AppointmentDay conta 27 valori di chiavi diversi
colonna : Age conta 103 valori di chiavi diversi
colonna : Neighbourhood conta 81 valori di chiavi diversi
colonna : Scholarship conta 2 valori di chiavi diversi
colonna : Hipertension conta 2 valori di chiavi diversi
colonna : Diabetes conta 2 valori di chiavi diversi
colonna : Alcoholism conta 2 valori di chiavi diversi
colonna : Handcap conta 5 valori di chiavi diversi
colonna : SMS_received conta 2 valori di chiavi diversi

In [14]:

dataset

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [15]:
X,y = X_y(dataset,'No-show')

output_train,output_test = crea_csv(X,y)



crea_file(output_train,output_test)#stampo i file su disco

In [16]:
output_train

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
57020,1.476612e+11,5679466,F,2016-05-10T09:57:55Z,2016-05-17T00:00:00Z,44,CARATOÍRA,0,0,0,0,0,0,Yes
67404,5.163147e+14,5571658,F,2016-04-12T09:24:13Z,2016-05-16T00:00:00Z,11,MARIA ORTIZ,0,0,0,0,0,0,Yes
42628,2.488843e+12,5690749,F,2016-05-12T10:35:23Z,2016-05-16T00:00:00Z,46,JARDIM CAMBURI,0,0,0,0,0,0,No
11918,9.618864e+14,5511964,F,2016-03-28T08:24:33Z,2016-05-06T00:00:00Z,75,JESUS DE NAZARETH,0,1,1,0,0,1,Yes
30082,4.836462e+11,5750314,F,2016-05-31T08:44:06Z,2016-06-01T00:00:00Z,83,SANTA MARTHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21243,7.868846e+12,5721432,F,2016-05-19T16:26:59Z,2016-06-02T00:00:00Z,11,SANTOS DUMONT,0,0,0,0,0,1,No
45891,7.711876e+13,5607080,M,2016-04-20T11:03:44Z,2016-05-11T00:00:00Z,50,TABUAZEIRO,0,1,1,0,0,1,No
42613,6.293825e+14,5758142,F,2016-06-01T10:19:43Z,2016-06-01T00:00:00Z,42,ANDORINHAS,0,0,0,0,0,0,No
43567,3.824988e+12,5579699,M,2016-04-13T15:26:38Z,2016-05-05T00:00:00Z,13,BELA VISTA,0,0,0,0,0,1,Yes
68268,5.899838e+12,5693376,M,2016-05-13T07:10:57Z,2016-05-13T00:00:00Z,12,JESUS DE NAZARETH,0,0,0,0,0,0,No

In [17]:
output_test

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
43077,1.167239e+11,5778236,M,2016-06-06T15:14:21Z,2016-06-08T00:00:00Z,9,INHANGUETÁ,0,0,0,0,0,0,No
44486,2.375498e+13,5739813,M,2016-05-25T14:10:29Z,2016-05-30T00:00:00Z,50,ANDORINHAS,0,0,1,0,0,1,No
25328,9.435712e+10,5683899,F,2016-05-11T08:00:20Z,2016-05-11T00:00:00Z,69,JARDIM CAMBURI,0,0,0,0,0,0,No
31341,8.277442e+13,5688382,F,2016-05-12T07:19:39Z,2016-05-16T00:00:00Z,22,FORTE SÃO JOÃO,0,0,0,0,0,0,No
19054,1.812426e+14,5707554,F,2016-05-17T09:47:04Z,2016-05-17T00:00:00Z,1,REDENÇÃO,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37713,4.866894e+13,5714631,F,2016-05-18T12:38:22Z,2016-05-18T00:00:00Z,48,ESTRELINHA,0,1,1,0,0,0,No
57357,1.338248e+13,5722856,M,2016-05-20T07:42:35Z,2016-05-20T00:00:00Z,12,JARDIM CAMBURI,0,0,0,0,0,0,No
77553,9.883995e+13,5665906,M,2016-05-05T15:33:04Z,2016-05-06T00:00:00Z,11,BOA VISTA,0,0,0,0,0,0,No
35163,5.857623e+12,5691365,M,2016-05-12T12:25:19Z,2016-05-12T00:00:00Z,28,INHANGUETÁ,0,0,0,0,0,0,No
35784,9.295443e+11,5774158,M,2016-06-06T07:55:43Z,2016-06-06T00:00:00Z,2,RESISTÊNCIA,0,0,0,0,0,0,No

In [18]:
!pip freeze > requirements.txt